<div class="row">
    <div class="col-md-12">
        <ba-card title="用户角色" baCardClass="with-scroll">
            <div class="row">
                <div class="col-3">
                    <div class="btn-group margin8" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">新增角色</button>
                        <button type="button" class="btn btn-info">删除</button>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-block">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        </div>
                    </div>

                    <div class="list-group" id="myList" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">home</div>
                        <div class="tab-pane" id="profile" role="tabpanel">profile</div>
                        <div class="tab-pane" id="messages" role="tabpanel">messages</div>
                        <div class="tab-pane" id="settings" role="tabpanel">settings</div>
                    </div>
                </div>
            </div>
        </ba-card>
    </div>
</div>