<div class="row">
  <div class="col-md-12">
    <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">客人姓名</label>
            <div class="col-sm-10">
              <input [(ngModel)]="checkIn.cusname" type="text" class="form-control" id="inputName" placeholder="输入客人姓名">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputId" class="col-sm-2 col-form-label">身份证号</label>
            <div class="col-sm-9">
              <input [(ngModel)]="checkIn.IDCard" type="text" class="form-control" id="inputId" placeholder="输入身份证号">
            </div>
            <div class="btn-group margin8 col-sm-1" role="group" aria-label="Basic example">
              <button (click)="readCard()" type="button" class="btn btn-success btn-sm">
                <i class="fa fa-refresh" aria-hidden="true"></i> 读取身份证信息</button>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputMobile" class="col-sm-2 col-form-label">电话号码</label>
            <div class="col-sm-10">
              <input [(ngModel)]="checkIn.cusphone" type="text" class="form-control" id="inputMobile" placeholder="输入电话号码">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputId" class="col-sm-2 col-form-label">入住方式</label>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input [(ngModel)]="checkIn.InType" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="全天房"> 全天房
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input [(ngModel)]="checkIn.InType" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="钟点房"> 钟点房
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input [(ngModel)]="checkIn.InType" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="特殊房"> 特殊房
                </label>
              </div>
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input [(ngModel)]="checkIn.InType" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="免费房"> 免费房
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputremark" class="col-sm-2 col-form-label">备注</label>
            <div class="col-sm-10">
              <input [(ngModel)]="checkIn.remark" type="text" class="form-control" id="inputremark" placeholder="输入备注信息">
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-legend col-sm-1">房间信息</legend>

              <div class="col-sm-11">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button placement="right" 
                  (shown)="showPop()" [ngbPopover]="popContent" popoverTitle="房间信息列表" type="button" class="btn btn-success btn-sm" container="body">
                    <i class="fa fa-refresh" aria-hidden="true"></i> 选择房间</button>
                </div>

                <ng2-smart-table [settings]="settingsHouse" [source]="selectedGrid" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
                  (userRowSelect)="onUserRowSelect($event)"  (createConfirm)="onCreateConfirm($event)">
                </ng2-smart-table>
              </div>
            </div>
          </fieldset>

          <div class="form-group row">
            <div class="col-sm-10 offset-sm-1 btn-group">
              <button type="submit" class="btn btn-info">确认入住</button>
            </div>
          </div>
        </div>
      </div>


      <ng-template #popContent>
        <div class="input-group">
          <input #search type="text" class="form-control" (keydown.enter)="onSearch(search.value)" placeholder="Search for..." aria-label="Search for...">
          <span class="input-group-btn btn-group">
            <button class="btn btn-secondary" (click)="onSearch(search.value)" type="button">
              <i class="fa fa-search" aria-hidden="true"></i> 查询</button>
          </span>
        </div>
        <div class="btn-group margin8 pull-right" role="group" aria-label="Basic example">
          <button *ngFor="let hs of houseType;" (click)="onSearch(hs.id)" type="button" class="btn {{hs.color}} btn-sm">
            <i class="fa {{hs.icon}}" aria-hidden="true"></i> {{hs.type}}
            <span class="badge badge-danger">{{ hs.count }}</span>
          </button>
        </div>
        <ng2-smart-table [settings]="settings" [source]="popGrid"  (userRowSelect)="rowClicked($event)">
        </ng2-smart-table>
      </ng-template>

    </ba-card>
  </div>
</div>
