<div class="row">
    <div class="col-md-12">
        <ba-card [title]="title" class="card-primary" baCardClass="with-scroll">
            <div>
                <div class="row">
                    <div class="col-3">
                        <div class="input-group">
                            <input #search type="text" class="form-control" (keydown.enter)="onSearch(search.value)" placeholder="Search for..." aria-label="Search for...">
                            <span class="input-group-btn btn-group">
                        <button class="btn btn-secondary" (click)="onSearch(search.value)" type="button"><i class="fa fa-search" aria-hidden="true"></i> 查询</button>
                    </span>
                        </div>
                    </div>

                    <div class="col-9">
                        <date-query (clickDate)="onClickDate($event)"></date-query>
                    </div>
                </div>

                <ng-template #popContent let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">入住房间信息</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <ng2-smart-table [settings]="settingsHouse" [source]="selectedGrid">
                        </ng2-smart-table>
                    </div>
                </ng-template>

                <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)" (edit)="open($event,popContent)"></ng2-smart-table>
                <ngb-pagination style="margin-top: 5px;" *ngIf="totalRecord>10" (pageChange)="onPageChange($event)" size="sm" class="pull-right" [(collectionSize)]="totalRecord" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
            </div>
        </ba-card>
    </div>
</div>