<div class="row">
    <div class="col-md-12">
        <ba-card title="角色权限" baCardClass="with-scroll">
            <div class="row">
                <div class="col-2">
                    <app-sys-role></app-sys-role>
                </div>
                <div class="col-10 card">

                    <dynamic-form [config]="config" #form="dynamicForm" (back)="backTop($event)" (submit)="submit($event)">
                    </dynamic-form>
                    {{ form.valid }} {{ form.value | json }}
                </div>
            </div>
        </ba-card>
    </div>
</div>