<div class="row">
  <div class="col-md-12">
    <ba-card [title]="title" baCardClass="with-scroll">
      <div [style.display]="tableDisplay">
      <div class="row">
        <div class="col-3">
          <div class="input-group">
            <input #search type="text" class="form-control" (keydown.enter)="onSearch(search.value)" placeholder="Search for..." aria-label="Search for...">
            <span class="input-group-btn btn-group">
                            <button class="btn btn-secondary" (click)="onSearch(search.value)" type="button"><i class="fa fa-search" aria-hidden="true"></i> 查询</button>
                        </span>
          </div>
        </div>

        <div class="col-9">
          <div class="btn-group margin8 pull-right" role="group" aria-label="Basic example">
            <button (click)="onNewAgent()" type="button" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> 新增 </button>
            <button (click)="getDataList()" type="button" class="btn btn-info"><i class="fa fa-refresh" aria-hidden="true"></i> 刷新 </button>
          </div>
        </div>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source"  (edit)="onEdit($event)" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)"
        (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
      </div>
      <div [style.display]="formDisplay">
          <div class="col-5 col-offset-3">
            <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
            <dynamic-form [config]="config" #form="dynamicForm"  (submit)="submit($event)">
            </dynamic-form>
            {{ form.valid }} {{ form.value | json }}
          </div>
        </div>
    </ba-card>
  </div>
</div>
